// Подключаем шрифты
@import "fonts";

// Подключаем normalize.css https://github.com/necolas/normalize.css
@import "normalize";

// Подключаем общие стили для всего проекта
@import "config";

// Подключаем контейнер
@import "container";

// Подключаем tooltips
@import "tooltips";

/*! Основные стили */

body {
  background-color: rgb(116, 116, 116);
  transition: background-color 7s;
}

ul {
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #b6bbbf;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c5cece;
    border-radius: 10px;
  }
  .instance {
    padding-right: 5px;
    padding-left: 25px;
    overflow-wrap: break-word;
    background-color: #18a7d2;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  transform-style: preserve-3d;
  user-select: none;
  padding: 22px;
  max-width: 825px;
  max-height: 825px;
  width: 100%;
  height: 100%;
}

.app__input {
  border-radius: 0;
  background-color: #b6bbbf;
  padding: 3px 7px;
  border: none;
  border-bottom: none;
  width: 100%;
  height: 40px;
  cursor: default;
  outline: none;
}

// .app__top {
//   margin-bottom: 15px;
// }

.app__bottom {
  display: flex;
  height: calc(100% - 40px);
  width: 100%;
}

.app__btn-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.app__btn {
  border-radius: 0;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    transition: all 0.3s;
    background-color: #f70;
    color: #fff;
  }
  &:active {
    transition: all 0.1s;
    background-color: #d26b11;
  }
}

.app__menu-wrap {
  min-width: 40%;
  min-height: 100%;
  transition: all 0.5s;
}

.app__toggle-btn {
  background-color: #c5cece;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(+50%, -50%);
  z-index: 5;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "\25D0";
    color: black;
  }
  &:hover::before {
    color: blue;
    transition: all 0.5s;
  }
}

.app__toggle-btn--icon {
  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "\25D1";
    color: black;
  }
}

.app__toggle-menu {
  position: relative;
  padding: 5px;
  padding-bottom: 35px;
  display: flex;
  height: 100%;
  background-color: #a3a3df;
  text-align: right;
}

.clear {
  position: absolute;
  padding: 2px 7px;
  bottom: 5px;
  right: 5px;
  width: max-content;
  height: max-content;
  background-color: #fff;
  border: none;
  &:hover {
    background-color: #f70;
    color: #fff;
    cursor: pointer;
  }
}

.app__menu-wrap--hidden {
  min-width: 0;
  visibility: hidden;
  font-size: 0;
  padding: 0;
  pointer-events: none;
  transition: all 0.5s;
  .app__toggle-menu {
    padding: 0;
  }
  .clear {
    padding: 0;
    border: none;
    border-radius: 0;
  }
  .instance {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .app {
    padding: 5px;
  }
  .app__menu-wrap,
  .app__toggle-btn {
    display: none;
  }
}
